
<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3  class="panel-title">Criar Armario</h3>
        </div>
        <div class="panel-body">
            <div  class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Item Base</h3>
              </div>
              <div class="panel-body">
                  <label>Produto:  </label>
                  <div class="row">
                    <div class="col-md-4">
                      <select [(ngModel)]="selectProdPai" >
                          <option disabled selected>Escolha Produto...</option>
                        <option *ngFor="let prod of allProdutosPai"  [ngValue]="prod">{{prod.sku}}-{{prod.nome}}</option>
                      </select>
                   </div>
                   <div class="col-md-2">
                    <button  (click)="escolherProdutoPai()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                  </div>
                  </div> 
                  <label>Material:  </label>
                  <div class="row">
                    <div class="col-md-4">
                      <select [(ngModel)]="selectedMatPai" >
                          <option disabled selected>Escolha Material...</option>
                        <option *ngFor="let mat of allMateriaisPai"  [ngValue]="mat">{{mat.nome}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button  (click)="escolherMaterialPai()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                    </div>
                  </div>
                  <label>Acabamento:  </label>
                  <div class="row">
                    <div class="col-md-4">
                      <select [(ngModel)]="selectedAcabPai" >
                          <option disabled selected>Escolha Acabamento...</option>
                        <option *ngFor="let acab of allAcabamentosPai"  [ngValue]="acab">{{acab.nome}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button  (click)="escolherAcabamentoPai()" (click)="getPrecoMaterialPai" type="submit" class="btn btn-success btn-sm">Escolher</button>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div  class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Dimensões</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3">
                            <label><b>Altura</b>:</label>
                            <input [(ngModel)]="altPaiInput" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label><b>Largura</b>:</label>
                            <input [(ngModel)]="largPaiInput" class="form-control" disabled>
                        </div>
                        <div class="col-md-3">
                            <label><b>Profundidade</b>:</label>
                            <input [(ngModel)]="profPaiInput" class="form-control">
                        </div>   
                      </div>
                    </div>    
                  </div>

                  <div  class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Items Agregados</h3>
                      </div>
                      <div class="panel-body">
                        <label>Obrigatório:</label>
                        <ul >
                          <li *ngFor="let modulo of allModulosObr; let i = index">{{modulo.sku}}-{{modulo.nome}}
                              <button type="button" (click)="editarModulo(i,true,modulo.sku)" class="btn btn-warning btn-xs">Editar</button>
                          </li>
                        </ul>
                        <label>Não Obrigatório:</label>
                        <ul >
                            <li *ngFor="let modulo of allModulosNaoObr; let i = index">{{modulo.sku}}-{{modulo.nome}}
                                <button type="button" (click)="editarModulo(i,false,modulo.sku)" class="btn btn-warning btn-xs">Editar</button>
                                <button type="button" (click)="apagarModuloNaoObr(i)" class="btn btn-danger btn-xs">Apagar</button>
                            </li>
                          </ul>
                        <button  (click)="criarModulo()" type="submit" class="btn btn-success btn-sm">Agregar Novo Modulo</button>
                      </div>    
                  </div>
              </div>    
            </div>
            <div>


              <button   (click)="calculaPrecoArmarioPai()"  type="submit" class="btn btn-success btn-sm" >Atualiza Preço</button>  
              <label> {{ precoArmarioPai}}€</label> 
          </div>
            <div>
              <button (click)="gravarArmarioPai()" type="submit" class="btn btn-success btn-sm">Gravar</button>
            </div>

            <div>
              <button (click)="visualizarArmario()" type="submit" class="btn btn-primary btn-sm">Visualizar Armario</button>
            </div>
            
            
            <div>
              <button (click)="resetDadosPai()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
            </div>
            
            <div>
                <button (click)="voltarDash()" type="submit" class="btn btn-danger btn-sm">Sair</button>
              </div>
      </div> 
      
    </div>

  </div>
  <div class="col-md-6">
      <div *ngIf="criarModuloFlag||editarModuloObrFlag||editarModuloFlag" class="panel panel-default">
        <div class="panel-heading">
          <h3 *ngIf="criarModuloFlag" class="panel-title">Criar Modulo</h3>
          <h3 *ngIf="editarModuloObrFlag||editarModuloFlag" class="panel-title">Editar Modulo</h3>
        </div>

        <div class="panel-body">
            <div  class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Produto</h3>
                </div>
                <div class="panel-body">
                  <label>Produto:  </label><label *ngIf="editarModuloObrFlag">{{moduloToPost.nome}}</label>
                  <div class="row" *ngIf="criarModuloFlag||editarModuloFlag">
                    <div class="col-md-4">
                      <select [(ngModel)]="selectProdFilho" >
                          <option disabled selected>Escolha Produto...</option>
                        <option *ngFor="let prod of allProdutosFilho"  [ngValue]="prod">{{prod.sku}}-{{prod.nome}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <button (click)="escolherProdutoFilho()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                    </div>
                  </div>
                  <div>
                    <label>Material: </label><label>{{materialPai.nome}}</label>
                  </div>
                  <div>
                    <label>Acabamento: </label><label>{{acabamentoPai.nome}}</label>
                  </div>
                </div>    
            </div>
            <div  class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Dimensões</h3>
              </div>
              <div class="panel-body">
      
                <div class="row">
                  <div class="col-md-3">
                      <label><b>Altura</b>:</label>
                      <input [(ngModel)]="altFilhoInput" class="form-control" disabled>
                  </div>
                  <div class="col-md-3">
                      <label><b>Largura</b>:</label>
                      <input [(ngModel)]="largFilhoInput" class="form-control">
                  </div>
                  <div class="col-md-3">
                      <label><b>Profundidade</b>:</label>
                      <input [(ngModel)]="profFilhoInput" class="form-control"disabled>
                  </div>   
                </div>
              </div>    
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Items Agregados</h3>
                </div>
                <div class="panel-body">
                    <label>Obrigatórios</label>
                    <ul >
                        <li *ngFor="let gaveta of moduloToPost.allModuloGavetaObr; let i = index">{{gaveta.nome}}
                            <button type="button" (click)="editarGaveta(i,true)" class="btn btn-warning btn-xs">Editar</button>
                        </li>
                      </ul>
                      <label>Não Obrigatórios</label>
                    <ul >
                      <li *ngFor="let gaveta of moduloToPost.allModuloGavetaNaoObr; let i = index">{{gaveta.nome}}
                          <button type="button" (click)="editarGaveta(i,false)" class="btn btn-warning btn-xs">Editar</button>
                          <button type="button" (click)="apagarGaveta(i)" class="btn btn-danger btn-xs">Apagar</button>
                      </li>
                    </ul>
                  <button  (click)="agregarGaveta()" type="submit" class="btn btn-success btn-sm">Agregar Gaveta/Prateleira</button>
                  <!-- <button  (click)="agregarPrateleira()" type="submit" class="btn btn-success btn-sm">Agregar Prateleira</button> -->
                </div>    
            </div>
          <div *ngIf="criarModuloFlag">
            <button (click)="gravarModulo()" type="submit" class="btn btn-success btn-sm">Gravar</button>
          </div>
          <div *ngIf="editarModuloObrFlag||editarModuloFlag">
              <button (click)="gravarEditarModulo()" type="submit" class="btn btn-success btn-sm">Gravar</button>
            </div>
          <div>  
            <button (click)="resetDadosModulo()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
          </div>  
        </div>      
      </div>

    <div *ngIf="criarGavetaFlag||editarGavetaFlag" class="panel panel-default">
      <div class="panel-heading">
        <h3 *ngIf="editarGavetaFlag" class="panel-title">Editar Gaveta/Prateleira</h3>
        <h3 *ngIf="criarGavetaFlag" class="panel-title">Nova Gaveta/Prateleira</h3>
      </div>
      <div class="panel-body">
        <label>Produto:  </label>
        <div class="row"> 
          <div class="col-md-6">
            <select [(ngModel)]="selectedProdGaveta" >
                <option disabled selected>Escolha Produto...</option>
              <option *ngFor="let prod of allProdGaveta"  [ngValue]="prod">{{prod.categoria}}:{{prod.sku}}-{{prod.nome}}</option>
            </select>
          </div>
          <div class="col-md-2">
              <button (click)="escolherProdutoGaveta()" type="submit" class="btn btn-success btn-sm">Escolher</button>
          </div>
        </div>
        <label>Material:  </label>
        <div class="row"> 
          <div class="col-md-4">
            <select [(ngModel)]="selectedMatGaveta" >
                <option disabled selected>Escolha Material...</option>
              <option *ngFor="let mat of allMateriaisGaveta"  [ngValue]="mat">{{mat.nome}}</option>
            </select>
          </div> 
          <div class="col-md-2">
            <button (click)="escolherMaterialGaveta()" type="submit" class="btn btn-success btn-sm">Escolher</button>
          </div>
        </div>
        <label>Acabamento:  </label>
        <div class="row"> 
          <div class="col-md-4">
            <select [(ngModel)]="selectedAcabGaveta" >
                <option disabled selected>Escolha Acabamento...</option>
              <option *ngFor="let acab of allAcabamentosGaveta"  [ngValue]="acab">{{acab.nome}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <button (click)="escolherAcabamentoGaveta()" type="submit" class="btn btn-success btn-sm">Escolher</button>
          </div>
        </div>    
        <div class="form-group">
          <label   for="inputPosicao"><b>Posicao(altura):</b></label>
          <input [(ngModel)]="posicaoGaveta" class="form-control" id="inputPosicao">
        </div>
        <div>
          <button *ngIf="criarGavetaFlag" (click)="gravarGaveta()" type="submit" class="btn btn-success btn-sm">Gravar</button>
        </div>
        <div>
            <button *ngIf="editarGavetaFlag" (click)="gravarEditarGaveta()" type="submit" class="btn btn-success btn-sm">Gravar</button>
          </div>
        <div>

          <button (click)="resetDadosGaveta()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
        </div>
    </div>    
    </div>


    <div *ngIf="visualFlag" class="panel panel-default">
      <div class="panel-heading">
        <h3  class="panel-title">Visualizar Armario</h3>
      </div>
      <div class="panel-body">
        <div>
          <label>ArmarioPai Slots:</label>
        </div>
        <div *ngFor="let mod of armarioPaiToPost.itemFilhos;let i = index">
          <label>{{mod.nome}}-{{mod.sku}}:</label>
          
            <ul>
            <li *ngFor="let gav of mod.itemFilhos;let j = index">{{gav.categoria}}:{{gav.nome}}
              <button class="btn btn-primary btn-sm" (click)="abrirGaveta(i,j)" *ngIf="(gav.categoria=='Gaveta')&&(gav.aberto==false)">abrir</button>
              <button class="btn btn-primary btn-sm" (click)="fecharGaveta(i,j)" *ngIf="(gav.categoria=='Gaveta')&&(gav.aberto==true)">fechar</button>
            </ul>
        </div>
        <div>
            <button (click)="fecharVisual()" type="submit" class="btn btn-danger btn-sm">Fechar</button>
        </div>
      </div>
    </div>  
  </div>
</div>