<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Definir Precos</h1>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <label>Selecione o Material: </label>
          <div class="row">
            <div class="col-md-4">
              <select [(ngModel)]="selectedMaterial">
                <option disabled selected>Escolha Material...</option>
                <option *ngFor="let mat of allMateriais" [ngValue]="mat">{{mat.nome}}</option>
              </select>
              <button (click)="escolherMaterial()" type="submit" class="btn btn-success btn-sm">Escolher</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <label>Selecione o Acabamento: </label>
          <div class="row">
            <div class="col-md-4">
              <select [(ngModel)]="selectedAcabamento">
                <option disabled selected>Escolha Acabamento...</option>
                <option *ngFor="let acab of allAcabamentos" [ngValue]="acab">{{acab.nome}}</option>
              </select>
              <div>
                <button (click)="escolherAcabamento()" type="submit" class="btn btn-success btn-sm">Escolher</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <label><b>Novo Preço do Material: </b></label>
          <input [(ngModel)]="precoMat" text="precoMat" class="form-control" id="precoMat">
          <label><b>Nova Data: </b></label>
          <input [(ngModel)]="dataInicioMat" text="dataInicioMat" class="form-control">
          <label><b>Novo Preço do Acabamento: </b></label>
          <input [(ngModel)]="precoAcab" text="precoAcab" class="form-control" id="precoAcab">
          <label><b>Nova Data: </b></label>
          <input [(ngModel)]="dataInicioAcab" text="dataInicioAcab" class="form-control">
        </div>
      </div>
          <div>
            <button (click)="postPrecoMaterial(dataInicioMat,precoMat)" type="submit" class="btn btn-success btn-sm">Gravar
              Preço e Data do Material</button>
            <button (click)="postPrecoAcabamento(dataInicioAcab,precoAcab)" type="submit" class="btn btn-success btn-sm">Gravar
              Preço e Data do Acabamento</button>
            <button (click)="getHistoricoPrecosMaterial()" type="submit" class="btn btn-success btn-sm">Historico de
              Preços Material</button>
            <button (click)="getHistoricoPrecosAcabamento()" type="submit" class="btn btn-success btn-sm">Historico de
              Preços Acabamento</button>
          </div>
        </div>
    <ul>
      <li *ngFor="let par of parPrecoMaterialToGet; let i = index">{{par.dataInicio}}-{{par.precoMat}} €
      <li *ngFor="let par of parPrecoAcabamentoToGet; let i = index">{{par.dataInicio}}-{{par.precoAcab}} €
      </li>
    </ul>
  </div>
</div>