<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Editar Catalogo</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <label>
                        <h3>Escolha o Catálogo:</h3>
                    </label>
                </div>
                <div class="col-md-12">
                    <select [(ngModel)]="selectCatalogo">
                        <option disabled selected>Escolha Catálogo...</option>
                        <option *ngFor="let cat of allCatalogos" [ngValue]="cat">{{cat.sku}}-{{cat.catalogoName}}</option>
                    </select>
                    <div>
                        <button (click)="setCatalogo()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <label><b>Nome do Catálogo</b>:</label>
                    <input [(ngModel)]="catalogoName" text="catalogoName" class="form-control" id="catalogoName">
                    <label><b>Data Inicial do Catálogo: </b>(Introduza a data separada com '-' !)</label>
                    <input [(ngModel)]="dataInicio" text="dataInicio" class="form-control">
                    <label><b>Data Final do Catálogo: </b>(Introduza a data separada com '-' !)</label>
                    <input [(ngModel)]="dataFim" text="dataFim" class="form-control">
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Item Base</h3>
                    </div>
                    <div class="panel-body">
                        <label>Produtos: </label>
                        <div class="row">
                            <div class="col-md-4">
                                <select [(ngModel)]="selectProduto">
                                    <option disabled selected>Escolha Produto...</option>
                                    <option *ngFor="let prod of allProdutos" [ngValue]="prod">{{prod.sku}}-{{prod.nome}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button (click)="adicionarProduto()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Previsão do Catálogo</h3>
                    </div>
                    <div class="panel-body">
                        <label>Produtos selecionados: </label>
                        <ul>
                            <li *ngFor="let produto of produtosFromCatalogo; let i = index">{{produto.sku}}-{{produto.nome}}
                                <button type="button" (click)="removerProduto(i)" class="btn btn-danger btn-sm">Remover</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button (click)="gravarCatalogo(catalogoName, dataInicio, dataFim)" type="submit" class="btn btn-success btn-sm">Gravar</button>
                    <button (click)="apagarCatalogo()" type="submit" class="btn btn-warning btn-sm">Apagar</button>
                    <button (click)="cancelarCatalogo()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                </div>
            </div>
        </div>
    </div>