<div class="container">
  <div  class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Área do Cliente</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
            <h3>Encomendas:</h3>
        </div>
        <div class="col-md-6">
            
        </div>
      </div>
    </div>    
  </div>
</div>