<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Criar Coleção</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <label><b>Nome da Coleção</b>:</label>
                    <input [(ngModel)]="colecaoName" class="form-control" id="colecaoName">
                    <label><b>Data Inicial da Coleção: </b>(Introduza a data separada com '-' !)</label>
                    <input [(ngModel)]="dataInicio" class="form-control">
                    <label><b>Data Final da Coleção: </b>(Introduza a data separada com '-' !)</label>
                    <input [(ngModel)]="dataFim" class="form-control">
                    <label><b>Referência da Coleção</b>:</label>
                    <input [(ngModel)]="sku" class="form-control">
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Restrição Base</h3>
                    </div>
                    <div class="panel-body">
                        <label>Restrição: </label>
                        <div class="row">
                            <div class="col-md-4">
                                <select [(ngModel)]="selectRestricao">
                                    <option disabled selected>Escolha Restrição...</option>
                                    <option>Material</option>
                                    <option>Medida Discreta</option>
                                    <option>Medida Continua</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button (click)="adicionarRestricao()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Item Base</h3>
                    </div>
                    <div class="panel-body">
                        <label>Produtos: </label>
                        <div class="row">
                            <div class="col-md-4">
                                <select [(ngModel)]="selectProduto">
                                    <option disabled selected>Escolha Produto...</option>
                                    <option *ngFor="let prodR of produtosByRestrictions" [ngValue]="prodR">{{prodR.sku}}-{{prodR.nome}}</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <button (click)="adicionarProduto()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Previsão da Coleção</h3>
                    </div>
                    <div class="panel-body">
                        <label>Restrições selecionadas: </label>
                        <ul>
                            <li *ngFor="let resMat of restricoesMaterial; let i = index">{{resMat.Type}}-{{resMat.nome}}
                                <button type="button" (click)="removerRestricaoMaterial(i)" class="btn btn-danger btn-sm">Remover</button>
                            </li>
                            <li *ngFor="let resDisc of restricoesDiscreta; let i = index">{{resDisc.Type}}-{{resDisc.nome}}-{{resDisc.Largura}}{{resDisc.Altura}}{{resDisc.Profundidade}}m
                                <button type="button" (click)="removerRestricaoDiscreta(i)" class="btn btn-danger btn-sm">Remover</button>
                            </li>
                            <li *ngFor="let resCont of restricoesContinua; let i = index">{{resCont.Type}}-Min:{{resCont.MinLargura}}{{resCont.MinAltura}}{{resCont.MinProfundidade}}m-Max:{{resCont.MaxLargura}}{{resCont.MaxAltura}}{{resCont.MaxProfundidade}}m
                                <button type="button" (click)="removerRestricaoContinua(i)" class="btn btn-danger btn-sm">Remover</button>
                            </li>
                        </ul>
                        <label>Produtos selecionados: </label>
                        <ul>
                            <li *ngFor="let produto of produtosForColecao; let i = index">{{produto.sku}}-{{produto.nome}}
                                <button type="button" (click)="removerProduto(i)" class="btn btn-danger btn-sm">Remover</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button (click)="gravarColecao(colecaoName, sku, dataInicio, dataFim)" type="submit" class="btn btn-success btn-sm">Gravar</button>
                    <button (click)="cancelarColecao()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div *ngIf="materialFlag||discretaFlag||continuaFlag" class="panel panel-default">
            <div class="panel-heading">
                <h3 *ngIf="materialFlag" class="panel-title">Restrição Material</h3>
                <h3 *ngIf="continuaFlag" class="panel-title">Restrição Medida Contínua</h3>
                <h3 *ngIf="discretaFlag" class="panel-title">Restrição Medida Discreta</h3>
            </div>
            <div class="panel-body">
                <div class="row" *ngIf="materialFlag">
                    <div class="col-md-4">
                        <select [(ngModel)]="selectMaterial">
                            <option disabled selected>Escolha Material...</option>
                            <option *ngFor="let mat of allMateriais" [ngValue]="mat">{{mat.nome}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button (click)="guardarRestricaoMaterial()" type="submit" class="btn btn-success btn-sm">Guardar</button>
                    </div>
                </div>
                <div class="row" *ngIf="discretaFlag">
                    <div class="col-md-5">
                        <select [(ngModel)]="selectMedida">
                            <option disabled selected>Escolha Medida...</option>
                            <option>Largura</option>
                            <option>Profundidade</option>
                            <option>Altura</option>
                        </select>
                        <div class="row">
                            <div class="panel-body">
                                <button (click)="escolherMedidaDiscreta()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="continuaFlag">
                    <div class="col-md-5">
                        <select [(ngModel)]="selectMedida">
                            <option disabled selected>Escolha Medida...</option>
                            <option>Largura</option>
                            <option>Profundidade</option>
                            <option>Altura</option>
                        </select>
                        <div class="row">
                            <div class="panel-body">
                                <button (click)="escolherMedidaContinua()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div *ngIf="larguraContinuaFlag||profundidadeContinuaFlag||alturaContinuaFlag" class="panel panel-default">
            <div class="panel-heading">
                <h3 *ngIf="larguraContinuaFlag" class="panel-title">Largura</h3>
                <h3 *ngIf="profundidadeContinuaFlag" class="panel-title">Profundidade</h3>
                <h3 *ngIf="alturaContinuaFlag" class="panel-title">Altura</h3>
            </div>
            <div class="panel-heading">
                <div class="row" *ngIf="larguraContinuaFlag">
                    <div class="col-md-4">
                        <label><b>Mínimo Largura</b>:</label>
                        <input [(ngModel)]="min" class="form-control">
                        <label><b>Máximo Largura</b>:</label>
                        <input [(ngModel)]="max" class="form-control">
                        <div class="panel-body">
                            <button (click)="guardarMedidaContinua(min,max)" type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="profundidadeContinuaFlag">
                    <div class="col-md-5">
                        <label><b>Mínimo Profundidade</b>:</label>
                        <input [(ngModel)]="min" class="form-control">
                        <label><b>Máximo Profundidade</b>:</label>
                        <input [(ngModel)]="max" class="form-control">
                        <div class="panel-body">
                            <button (click)="guardarMedidaContinua(min,max)" type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="alturaContinuaFlag">
                    <div class="col-md-4">
                        <label><b>Mínimo Altura</b>:</label>
                        <input [(ngModel)]="min" class="form-control">
                        <label><b>Máximo Altura</b>:</label>
                        <input [(ngModel)]="max" class="form-control">
                        <div class="panel-body">
                            <button (click)="guardarMedidaContinua(min, max)" type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div *ngIf="larguraDiscretaFlag||profundidadeDiscretaFlag||alturaDiscretaFlag" class="panel panel-default">
            <div class="panel-heading">
                <h3 *ngIf="larguraDiscretaFlag" class="panel-title">Largura</h3>
                <h3 *ngIf="profundidadeDiscretaFlag" class="panel-title">Profundidade</h3>
                <h3 *ngIf="alturaDiscretaFlag" class="panel-title">Altura</h3>
            </div>
            <div class="panel-heading">
                <div class="row" *ngIf="larguraDiscretaFlag">
                    <div class="col-md-4">
                        <label><b>Valor Largura</b>:</label>
                        <input [(ngModel)]="value" class="form-control">
                        <div class="panel-body">
                            <button (click)="guardarMedidaDiscreta(value)" type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="profundidadeDiscretaFlag">
                    <div class="col-md-5">
                        <label><b>Valor Profundidade</b>:</label>
                        <input [(ngModel)]="value" class="form-control">
                        <div class="panel-body">
                            <button (click)="guardarMedidaDiscreta(value)" type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="alturaDiscretaFlag">
                    <div class="col-md-4">
                        <label><b>Valor Altura</b>:</label>
                        <input [(ngModel)]="value" class="form-control">
                        <div class="panel-body">
                            <button (click)="guardarMedidaDiscreta(value)" type="submit" class="btn btn-success btn-sm">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>