<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"  routerLink="/dashboard" routerLinkActive="active">Armários Lda</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user.activo"><a href="#"  routerLink="/cliente" routerLinkActive="active"><label >Bem-vindo,{{user.nome}}</label></a></li>
        <li *ngIf="user.activo==undefined"><a href="#" routerLink="/login" routerLinkActive="active"><label >Login</label></a></li>
        <li *ngIf="user.activo"><a href="#" (click)="logoutBtn()"  routerLinkActive="active"><label >Logout</label></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
