<div class="container">
    <br>
    <button (click)="newParProduto()" type="submit" class="btn btn-success">Adicionar</button>
    <br>
    <div class="row">
      
      <div class="col-md-6">
          <div *ngFor="let par of allParProdutos"  class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><label>Agregacao</label></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                    
                    </div>
                    <div class="col-md-4">
                     
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn  btn-warning">Editar</button>
                        </div>
                        <div class="col-md-6">
                            <button  type="submit" class="btn btn-danger">Apagar</button>
                        </div>
                      </div>
                    </div>
                </div>    
              </div>
            </div>
    
      </div>
      <div class="col-md-6">
          <div *ngIf="criarParFlag || editarParFlag" class="panel panel-default">
            <div class="panel-heading">
              <h3  *ngIf="criarParFlag"class="panel-title">Criar Agregação de Produto</h3>
              <h3  *ngIf="editarParFlag"class="panel-title">Editar Agregação de Produto</h3>
            </div>
            <div class="panel-body">
              
                <p *ngIf="itemActual">A editar Produto: {{itemActual.code}}</p>
                <div class="row">
                  <div class="col-md-4">
                    <label><b>Produto Pai</b></label>
                    <select [(ngModel)]="selectedPai" >
                        <option disabled selected>Escolha Produto Pai...</option>
                      <option *ngFor="let prod of allProdutos"  [ngValue]="prod">Prod:{{prod.nome}}</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button  (click)="escolherPai()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <label><b>Produto Filho</b></label>
                      <select [(ngModel)]="selectedFilho" >
                          <option disabled selected>Escolha Produto Filho...</option>
                          <option *ngFor="let prod of allProdutos"  [ngValue]="prod">Prod:{{prod.nome}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button  (click)="escolherFilho()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                    </div>
                  
                </div>
                <br>
                <br>
  
                
          </div> 
          <button *ngIf="criarParFlag" (click)="gravarPar()" type="submit" class="btn btn-success btn-sm">Gravar</button>
          <button *ngIf="editarParFlag" (click)="gravarEditarParItem()" type="submit" class="btn btn-success btn-sm">Gravar</button>
        </div>
  
    </div>
    </div>
  </div>