<div class="container">
  <!-- <div class="col-md-12">
    <ul class="nav nav-pills">
      <li role="presentation"> <a  href="#" routerLink="./catalogo" routerLinkActive="active">Gestao de Catalogo</a></li>
      <li role="presentation"><a href="#" routerLink="./gestaoItem" routerLinkActive="active">Gestao de Itens</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>   -->
  <div class="row">
    <div class="col-md-4">
        <button (click)="criarNovoArmario()" type="submit" class="btn btn-success">Criar armário por medida</button>
    </div>
    <div class="col-md-4">
      <button  (click)="listarCriarItem()" type="submit" class="btn btn-success">Listar e Criar Items</button>
    </div>
  </div>
  <br>
  <br>
  <div *ngIf="user.role=='gestorcatalogo'||user.role=='administrativo'">
  <!-- <div>   -->
    <label>Funções de Gestor:</label>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button (click)="criarNovoCatalogo()" type="submit" class="btn btn-success">Criar Catálogo</button>
      </div>

      <div class="col-md-4">
        <button (click)="editarCatalogo()" type="submit" class="btn btn-success">Editar Catálogo</button>
      </div>
    
      <div class="col-md-4">
        <button  (click)="consultarPrecos()" type="submit" class="btn btn-success">Definir Precos</button>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button  (click)="listarCriarProduto()" type="submit" class="btn btn-success">Listar e Criar Produtos</button>
      </div>
      <div class="col-md-4">
        <button (click)="criarColecao()" type="submit" class="btn btn-success">Criar Coleção</button>
      </div>
      <div class="col-md-4">
        <button (click)="editarColecao()" type="submit" class="btn btn-success">Editar Coleção</button>
      </div>
    </div>  
  </div>
</div>
