
<div class="container">
  <br>
  <button (click)="newParItem()" type="submit" class="btn btn-success">Adicionar</button>
  <br>
  <div class="row">
    
    <div class="col-md-6">
        <div *ngFor="let par of allParItems"  class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><label>{{par.itemPaiCode}} agrega {{par.itemFilhoCode}}</label></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-md-4">
                    <p><b>ItemPai</b>: {{par.itemPaiCode}}</p>
                    <p><b>ItemFilho</b>: {{par.itemFilhoCode}}</p>
                  </div>
                  <div class="col-md-4">
                   
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-6">
                          <button (click)="editarPar(par)" type="submit" class="btn  btn-warning">Editar</button>
                      </div>
                      <div class="col-md-6">
                          <button (click)="deletePar(par)" type="submit" class="btn btn-danger">Apagar</button>
                      </div>
                    </div>
                  </div>
              </div>    
            </div>
          </div>
  
    </div>
    <div class="col-md-6">
        <div *ngIf="criarParItemFlag || editarParItemFlag" class="panel panel-default">
          <div class="panel-heading">
            <h3  *ngIf="criarParItemFlag"class="panel-title">Criar Agregação de Item</h3>
            <h3  *ngIf="editarParItemFlag"class="panel-title">Editar Agregação Item</h3>
          </div>
          <div class="panel-body">
            
              <p *ngIf="itemActual">A editar Item: {{itemActual.code}}</p>
              <div class="row">
                <div class="col-md-4">
                  <label><b>Item Pai</b></label>
                  <select [(ngModel)]="selectedPai" >
                      <option disabled selected>Escolha Item Pai...</option>
                    <option *ngFor="let item of allItems"  [ngValue]="item">Item:{{item.code}}-Prod:{{item.sku}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <button  (click)="escolherPai()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <label><b>Item Pai</b></label>
                    <select [(ngModel)]="selectedFilho" >
                        <option disabled selected>Escolha Item Filho...</option>
                        <option *ngFor="let item of allItems"  [ngValue]="item">Item:{{item.code}}-Prod:{{item.sku}}</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button  (click)="escolherFilho()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                  </div>
                
              </div>
              <br>
              <br>

              
        </div> 
        <button *ngIf="criarParItemFlag" (click)="gravarParItem()" type="submit" class="btn btn-success btn-sm">Gravar</button>
              <button *ngIf="editarParItemFlag" (click)="gravarEditarParItem()" type="submit" class="btn btn-success btn-sm">Gravar</button>
      </div>

  </div>
  </div>
</div>