<div class="container">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li role="presentation"> <a  href="#" routerLink="./produto" routerLinkActive="active">Produtos</a></li>
      <li role="presentation"> <a  href="#" routerLink="./produtoAgg" routerLinkActive="active">Agregação de Produtos</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>  
</div>