<div class="container">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li role="presentation"> <a  href="#" routerLink="./item" routerLinkActive="active">Itens</a></li>
        <li role="presentation"> <a  href="#" routerLink="./itemAgg" routerLinkActive="active">Agregação de Itens</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>  
  </div>