
<div class="container">
    <br>
    <button (click)="newItem()" type="submit" class="btn btn-success">Adicionar</button>
    <br>
    <div class="row">
      
      <div class="col-md-6">
        <div *ngFor="let item of allItems" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Item</b>:{{item.code}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                  <p><b>Ref. de Produto</b>: {{item.sku}}</p>
                  <p><b>Altura</b>: {{item.altura}}</p>
                  <p><b>Largura</b>: {{item.largura}}</p>
                  <p><b>Profundidade</b>: {{item.profundidade}}</p>
                  
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                        <button (click)="editarItem(item)" type="submit" class="btn  btn-warning">Editar</button>
                    </div>
                    <div class="col-md-6">
                        <button (click)="deleteItem(item)" type="submit" class="btn btn-danger">Apagar</button>
                    </div>
                  </div>
                </div>
            </div>    
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div *ngIf="criarItemFlag || editarItemFlag" class="panel panel-default">
            <div class="panel-heading">
              <h3  *ngIf="criarItemFlag"class="panel-title">Criar Item</h3>
              <h3  *ngIf="editarItemFlag"class="panel-title">Editar Item</h3>
            </div>
            <div class="panel-body">
              
              
                <p *ngIf="itemActual">A editar Item: {{itemActual.code}}</p>
                <div  class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Produto</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-4">
                        <select [(ngModel)]="selectedProd" >
                            <option disabled selected>Escolha Produto...</option>
                          <option *ngFor="let prod of allProdutos"  [ngValue]="prod">{{prod.sku}}-{{prod.nome}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <button  (click)="escolherProduto()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                      </div>
                      
                    </div>
                  </div>    
                </div>
                <div  class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Material</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-4">
                        <select [(ngModel)]="selectedMat" >
                            <option disabled selected>Escolha Material...</option>
                          <option *ngFor="let mat of materiaisDisp"  [ngValue]="mat">{{mat.nome}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <button  (click)="escolherMaterial()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                      </div>
                    </div>
                    
                  </div>    
                </div>

                <div  class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Acabamento</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-4">
                        <select [(ngModel)]="selectedAcabamento" >
                            <option disabled selected>Escolha Acabamento...</option>
                          <option *ngFor="let acab of acabamentosDisp"  [ngValue]="acab">{{acab.nome}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <button  (click)="escolherAcabamento()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                      </div>
                    </div>
                    
                  </div>    
                </div>
                <div  class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Dimensões</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3">
                          <label><b>Altura</b>:</label>
                          <input [(ngModel)]="altInput" class="form-control">
                      </div>
                      <div class="col-md-3">
                          <label><b>Largura</b>:</label>
                          <input [(ngModel)]="largInput" class="form-control">
                      </div>
                      <div class="col-md-3">
                          <label><b>Profundidade</b>:</label>
                          <input [(ngModel)]="profInput" class="form-control">
                      </div>
                      
                    </div>
                  </div>    
                </div>
                <button *ngIf="criarItemFlag" (click)="gravarItem()" type="submit" class="btn btn-success btn-sm">Gravar</button>
                <button *ngIf="editarItemFlag" (click)="gravarEditarItem()" type="submit" class="btn btn-success btn-sm">Gravar</button>
          </div> 
          
        </div>
  
    </div>
  </div>
  