<div class="container">
  <div>
    <div class="form-group">
      <label for="verifTxt">Autenticação 2FA</label>
      <input [(ngModel)]="verifInput" class="form-control" id="verifTxt">
    </div>
    <label *ngIf="codigoErroFlag">Código incorreto</label>
    <label *ngIf="dadosIncompletosFlag">Código inválido</label>
    <div>
        <button (click)="okButton()" class="btn btn-default">OK</button>
    </div>
   
  </div>
</div>
