<div class="container">
  <br>
  <button (click)="newProduto()" type="submit" class="btn btn-success">Adicionar</button>
  <br>
  <div class="row">
    
    <div class="col-md-6">
      <div *ngFor="let prod of allProdutos" name="prod{value{prod.produtoId}}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{prod.nome}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
              <div class="col-md-4">
                <p><b>Ref. de Produto</b>: {{prod.sku}}</p>
              </div>
              <div class="col-md-4">
               
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                      <button (click)="editProduto(prod.sku)" type="submit" class="btn  btn-warning">Editar</button>
                  </div>
                  <div class="col-md-6">
                      <button (click)="deleteProduto(prod.produtoId)" type="submit" class="btn btn-danger">Apagar</button>
                  </div>
                </div>
              </div>
          </div>    
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div *ngIf="editarProdutoFlag||criarProdutoFlag" class="panel panel-default">
          <div class="panel-heading">
            <h3 *ngIf="criarProdutoFlag" class="panel-title">Criar Produto</h3>
            <h3 *ngIf="editarProdutoFlag" class="panel-title">Editar Produto</h3>
          </div>
          <div class="panel-body">
            
            
              <p *ngIf="skuActual">A editar Produto: {{skuActual}}</p>
              <div class="form-group">
                <label for="inputNome"><b>Nome do Produto</b></label>
                <input #nomeProdutoInput [(ngModel)]="inputNome" class="form-control" id="inputNome">
              </div>
              <div class="form-group">
                <label for="inputSku"><b>Ref.Produto</b></label>
                <input #sukInput [(ngModel)]="inputSku" class="form-control" id="inputSku">
              </div>
              <div  class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Materiais</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2">
                      <select [(ngModel)]="selectedValue" >
                          <option disabled selected>Escolha Material...</option>
                        <option *ngFor="let mater of allMateriais"  [ngValue]="mater">{{mater.nome}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button  (click)="addMaterial()" type="submit" class="btn btn-success btn-sm">Adicionar</button>
                    </div>
                    <div class="col-md-6">
                        <label><b>Nome: </b></label>
                        <input #nomeMaterial class="form-control-xs" id="materialNome">
                    </div>
                    <div class="col-md-2">
                        <button  (click)="criarMaterial(nomeMaterial.value,nomeMaterial)" class="btn btn-success btn-sm">Criar</button>
                      </div>
                  </div>
                    
                    <!-- <div *ngIf="produtoActual">
                      
                      <ul >
                        <li *ngFor="let mat of produtoActual.materiais;">{{mat.nome}}{{i}}
                            <button type="button" (click)="editarMaterial()" class="btn btn-warning btn-xs">Editar</button>
                            <button type="button" (click)="apagarMaterial()" class="btn btn-danger btn-xs">Apagar</button>
                        </li>
                      </ul>
                    </div> -->
                    <div *ngIf="materialArrayToPost">
                      <ul >
                        <li *ngFor="let mat of materialArrayToPost; let i = index">{{mat.nome}}
                            <button type="button" (click)="editarMaterial(i)" class="btn btn-warning btn-xs">Editar</button>
                            <button type="button" (click)="apagarMaterial(i)" class="btn btn-danger btn-xs">Apagar</button>
                        </li>
                      </ul>
                    </div>
                </div>    
              </div>
              <div  class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Dimensões</h3>
                </div>
                <div class="panel-body">
                  
                    <div >
                        <div class="row">
                          <div class="col-md-12">
                              <form>
                                  Medida:
                                  <input type="radio" [(ngModel)]="radioTipo" [ngModelOptions]="{standalone: true}"  value="alt">Altura
                                  <input type="radio" [(ngModel)]="radioTipo" [ngModelOptions]="{standalone: true}" value="larg">Largura
                                  <input type="radio" [(ngModel)]="radioTipo" [ngModelOptions]="{standalone: true}" value="prof">Profundidade
                              </form>
                            <form>
                                
                                <input type="radio" [(ngModel)]="radioD" [ngModelOptions]="{standalone: true}"  value="disc">Discreta
                                <input type="radio" [(ngModel)]="radioD" [ngModelOptions]="{standalone: true}" value="cont">Continua
                            </form>
                          </div>
                          <div class="col-md-2">
                              <button type="button" (click)="criarDimensao()" class="btn btn-success btn-sm">Criar</button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                              <input [(ngModel)]="alturaMin" class="form-control">
                          </div>
                          <div *ngIf="radioD=='cont'" class="col-md-2">  
                            <label><b>até</b></label>  
                          </div>   
                          <div *ngIf="radioD=='cont'" class="col-md-2">
                            <input [(ngModel)]="alturaMax" class="form-control">
                          </div>     
                      </div>
                    </div>





                  <div  class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Altura</h3>
                    </div>
                    <div class="panel-body">
                      <div>
                        <label><b>Continuas</b></label>
                        <ul>
                          <li *ngFor="let altC of alturaToPost.medidasContinuas"><label>De {{altC.minimo}} a {{altC.maximo}}</label></li>
                        </ul>
                      </div>
                      <div>
                          <label><b>Discretas</b></label>
                          <ul>
                            <li *ngFor="let altC of alturaToPost.medidasDiscretas"><label>{{altC.valor}}</label></li>
                          </ul>
                        </div>
                        
                    </div>
                  </div> 
                  <div  class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Largura</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                          <label><b>Continuas</b></label>
                          <ul>
                            <li *ngFor="let altC of larguraToPost.medidasContinuas"><label>De {{altC.minimo}} a {{altC.maximo}}</label></li>
                          </ul>
                        </div>
                        <div>
                            <label><b>Discretas</b></label>
                            <ul>
                              <li *ngFor="let altC of larguraToPost.medidasDiscretas"><label>{{altC.valor}}</label></li>
                            </ul>
                          </div>
                          
                      </div>
                    </div> 
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Profundidade</h3>
                        </div>
                        <div class="panel-body">
                          <div>
                            <label><b>Continuas</b></label>
                            <ul>
                              <li *ngFor="let altC of profundidadeToPost.medidasContinuas"><label>De {{altC.minimo}} a {{altC.maximo}}</label></li>
                            </ul>
                          </div>
                          <div>
                              <label><b>Discretas</b></label>
                              <ul>
                                <li *ngFor="let altC of profundidadeToPost.medidasDiscretas"><label>{{altC.valor}}</label></li>
                              </ul>
                            </div>
                            
                        </div>
                      </div> 
                </div>    
              </div>    
              <button *ngIf="editarProdutoFlag" (click)="gravarEditarProduto(nomeProdutoInput.value,sukInput.value)" type="submit" class="btn btn-success">Gravar</button>
              <button *ngIf="criarProdutoFlag" (click)="gravarProduto(nomeProdutoInput.value,sukInput.value)" type="submit" class="btn btn-success">Criar</button>
              <button  (click)="cancelarProduto()" type="submit" class="btn btn-danger">Cancelar</button>
          </div>  
        </div>
        <div *ngIf="editarMaterialFlag" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Editar material</h3>
          </div>
          <div class="panel-body">
            <div id="materialNovo">
                <div class="form-group">
                  <label   for="inputNomematerial"><b>Nome do material</b></label>
                  <input [(ngModel)]="nomeMaterial2" class="form-control" id="inputNomematerial">
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Acabamentos</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label><b>Nome: </b></label>
                            <input [(ngModel)]="nomeAcabamento" class="form-control-xs"   >
                        </div>
                        <div class="col-md-2">
                          <button  (click)="criarAcabamento()" class="btn btn-success btn-sm">Criar</button>
                        </div>
                    </div>

                    <div *ngIf="materialActualAcabamentos">
                      <ul >
                        <li *ngFor="let acab of acabamentosArrayTemp; let i = index">{{acab.nome}}
                            <button type="button" (click)="apagarAcabamento(i)" class="btn btn-danger btn-xs">Apagar</button>
                        </li>
                      </ul>
                    </div>
                 
                  </div> 
                  
                </div>  

            </div>
            <div class="row">
              <div class="col-md-2">
                <button type="button" (click)="gravarEditarMaterial(i)" class="btn btn-success">Gravar</button>
              </div>
              <div class="col-md-2">
                <button type="button" (click)="cancelarEditarMaterial()" class="btn btn-danger">Cancelar</button>
              </div>
            </div>
          </div>
        </div>  
        
      </div>

  </div>
</div>
