<div class="container">
  <div  class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Confirmar Registo</h3>
    </div>
    <div class="panel-body">
        <div>
          <div class="form-group">
            <label for="confCodigoTxt">Insira o codigo que recebeu:</label>
            <input [(ngModel)]="confCodigoInput" class="form-control" id="confCodigoTxt">
          </div>
          <button (click)="loginBtn()" class="btn btn-default">OK</button>
        </div>
    </div>    
  </div>
</div>