<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h1>Editar Coleção</h1>
          </div>
          <div class="panel-body">
              <div class="col-md-12">
                  <label>
                      <h3>Escolha a Coleção:</h3>
                  </label>
              </div>
              <div class="col-md-12">
                  <select [(ngModel)]="selectColecao">
                      <option disabled selected>Escolha Coleção...</option>
                      <option *ngFor="let col of allColecoes" [ngValue]="col">{{col.sku}}-{{col.colecaoName}}</option>
                  </select>
                  <div>
                      <button (click)="setColecao()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                  </div>
              </div>

          </div>
          <div class="panel-body">
              <div class="col-md-12">
                  <label><b>Nome da Coleção</b>:</label>
                  <input [(ngModel)]="colecaoName" text="colecaoName" class="form-control" id="colecaoName">
                  <label><b>Data Inicial do Coleção: </b>(Introduza a data separada com '-' !)</label>
                  <input [(ngModel)]="dataInicio" text="dataInicio" class="form-control">
                  <label><b>Data Final do Coleção: </b>(Introduza a data separada com '-' !)</label>
                  <input [(ngModel)]="dataFim" text="dataFim" class="form-control">
              </div>
          </div>
          <div class="panel-body">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Item Base</h3>
                  </div>
                  <div class="panel-body">
                      <label>Produtos: </label>
                      <div class="row">
                          <div class="col-md-4">
                              <select [(ngModel)]="selectProduto">
                                  <option disabled selected>Escolha Produto...</option>
                                  <option *ngFor="let prod of allProdutos" [ngValue]="prod">{{prod.sku}}-{{prod.nome}}</option>
                              </select>
                          </div>
                          <div class="col-md-2">
                              <button (click)="adicionarProduto()" type="submit" class="btn btn-success btn-sm">Escolher</button>
                          </div>
                      </div>
                      <br>
                      <br>
                      <br>
                  </div>
                  <div class="panel-heading">
                      <h3 class="panel-title">Previsão da Coleção</h3>
                  </div>
                  <div class="panel-body">
                      <label>Produtos selecionados: </label>
                      <ul>
                          <li *ngFor="let produto of produtosFromColecao; let i = index">{{produto.sku}}-{{produto.nome}}
                              <button type="button" (click)="removerProduto(i)" class="btn btn-danger btn-sm">Remover</button>
                          </li>
                      </ul>
                  </div>
              </div>
              <div>
                  <button (click)="gravarColecao(colecaoName, dataInicio, dataFim)" type="submit" class="btn btn-success btn-sm">Gravar</button>
                  <button (click)="apagarColecao()" type="submit" class="btn btn-warning btn-sm">Apagar</button>
                  <button (click)="cancelarColecao()" type="submit" class="btn btn-danger btn-sm">Cancelar</button>
              </div>
          </div>
      </div>
  </div>