<div class="container">
  <label *ngIf="erroLoginFlag">Dados errados</label>
  <label *ngIf="dadosIncompletosFlag">Dados Incompletos</label>
  <div>
    
    <div class="form-group">
      <label for="usernameTxt">Email</label>
      <input [(ngModel)]="emailInput" class="form-control" id="usernameTxt">
    </div>
    <div class="form-group">
      <label for="passwordTxt">Password</label>
        <input [(ngModel)]="pswInput" type="password" class="form-control" id="passwordTxt">
    </div>
    <button (click)="loginBtn()" class="btn btn-default">Login</button>
  </div>
  <label>Ainda não está registado?</label><a routerLink="/registo" routerLinkActive="active"><label>Registe-se</label></a><label> agora</label>
</div>